<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="topcoat-icon-button--quiet back-button" href="#">
      <span class="topcoat-icon topcoat-icon--back"></span>
    </a>
  </div>
  
  <div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">Members</h1>
  </div>
  
  <div class="topcoat-navigation-bar__item right quarter">
    <a class="topcoat-icon-button--quiet">
      <span class="topcoat-icon topcoat-icon--edit"></span>
    </a>
  </div>
</div>

<div class="topcoat-list__container">
    <ul class="topcoat-list">
<% if (members.length < 1) { %>
<h1>No Member Records Found</h1>
<% } %>

        <% for (var index = 0; index < members.length; index++){ %>
        <li class="topcoat-list__item">

<a href="#member/<%= index %>">
          <table>
            <tr>
              <td>
                <image id="picture" src="<%= members[index].get("picture") === null ? "img/nophoto.jpg" : members[index].get("picture") %>" width="100" height="100"/> 
              </td>
              <td style="vertical-align: text-top;">
                <%= members[index].get("displayName") %><br/>
                <%= members[index].get("location") %>
              </td>
          </table>
</a>
        </li>
        <% } %>

    </ul>
</div>
