<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title"><%= odl.get("displayName") %></h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet">
            <span class="topcoat-icon topcoat-icon--edit"></span>
        </a>
    </div>
</div>

<div id="ODL_FORM_CONTAINER" class="well">
  <div>
    <h2><%= member.get('displayName') %><br/></h2>
    <h2><%= member.get('location') %></h2>
    <br/>
    <br/>
  </div>

  <%= formContent %>
  <a class="topcoat-button--large--cta save" >Save</a>
</div>

</div>

